#root {
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ergebnisse{
  min-width: 60%;
}


.main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2vw;
}

.mainSolution{
  display: flex;
  flex-direction: column;
  gap: 2vw;
  border-radius: 5px;
  align-items: center;
}

.solutions{
  display: flex;
  flex-direction: column;
  gap: 2vw;
  max-width: 1500px;
  align-content: center;
}

.someSolution{
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1vw;
  width: 100%;
}

.bestSolution{
  width: 100%;
  border: 1px solid green;
  border-radius: 5px;
  padding: 1vw;
  color: green;
  font-weight: bold;
}

.solutiongroup{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1vw;
}

.information{
  display: flex;
  flex-direction: column ;
  justify-content: space-around;
  gap: 2vw;
  flex-wrap: wrap;
}

.variables{
  border: 1px solid #000;
  border-radius: 5px;
  padding: 2vw;
}

.input{
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 2vw 0vw;
}

.inventory{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vw;
  align-items:start;
}

.inventory-item{
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  align-items:center;
}



