#root {
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}





.header{
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.ergebnisse{
  min-width: 60%;
}


.main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2vw;
}

.mainSolution{
  display: flex;
  flex-direction: column;
  gap: 2vw;
  border-radius: 5px;
  align-items: center;
}

.solutions{
  display: flex;
  flex-direction: column;
  gap: 2vw;
  max-width: 1500px;
  align-content: center;
}

.someSolution{
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1vw;
  width: 100%;
}

.bestSolution{
  width: 100%;
  border: 1px solid green;
  border-radius: 5px;
  padding: 1vw;
  color: green;
  font-weight: bold;
}

.solutiongroup{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1vw;
}

.information{
  display: flex;
  flex-direction: column ;
  justify-content: space-around;
  gap: 2vw;
  flex-wrap: wrap;
}

.variables{
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1vw;
}

.input{
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1vw 0vw;
}

.inventory{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vw;
  align-items:start;
}

.inventory-item{
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  align-items:center;
}


.inputNumberMittel{
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;

}

.abwehrmittel{
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  padding: 1vw;
  border-radius: 5px;
}

.mainTrailandError{
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
}


.avarageSolution{
  width: fit-content;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1vw;
  font-weight: bold;
}

.goodSolution{
  color: green;
}

.badSolution{
  color: orange;
}

.error{
  color: red;
}



table {
  width: 100%;
  border-collapse: collapse; /* Entfernt den Abstand zwischen den Zellen */
}

td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc; /* Fügt eine feine Linie zwischen den Zellen hinzu */
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9; /* Fügt einen Hintergrund für jede ungerade Zeile hinzu */
}

tbody tr:nth-child(even) {
  background-color: #ffffff; /* Fügt einen Hintergrund für jede gerade Zeile hinzu */
}

td:first-child, td:last-child {
  font-weight: bold; /* Hebt die Wand- und Abstandsdaten hervor */
}

td {
  font-size: 14px;
}

table th {
  background-color: #f2f2f2;
  padding: 12px;
  text-align: left;
}

table, th, td {
  border: 1px solid #ddd; /* Fügt eine feine Linie um die gesamte Tabelle hinzu */
}

table td {
  font-size: 16px;
}

